//contianerSize
$container-width:1222px;
//conSize
$header-height:60px;
$header-closeheader-width:20px;
$header-closeheader-height:20px;
$top-height:36px;
$top-date-width:40px;
$search-height:166px;
$logo-width:180px;
$logo-height:45px;
$searchtext-height:34px;
$searchtext-width:422px;
$btnsearch-width:30px;
$searchtul-height:25px;
$menu-height:52px;
//color
$color-white:#ffffff;
$color-black:#000000;
$searchtext-color:#ff4490;
$signin-span:#ff4490;
$signin-color:#333333;
//fontSize
$fontsize-normal:12px;
$font-larger:18px;
//url
$header-url:"../images/header-bck.jpg";
$logo-url :"../images/memebox-logo.jpg";
$searchtext-url:"../images/search.jpg";
//position
$closeheader-right:50px;
$closeheader-top:8px;
$btnsearch-left:760px;
$btnsearch-top:55px;
//marrin
$logo-marginLeft:140px;
$logo-marginTop:60px;
$searchtext-marginLeft:46px;
$searchtext-marginTop:53px;
$searchemail-marginLeft:44px;
$searchemail-marginTop:45px;