//contianerSize
$container-width:1222px;
//conSize
$header-height:60px;
$header-closeheader-width:20px;
$header-closeheader-height:20px;
//color
$color-white:#ffffff;
//fontSize
$fontsize-normal:12px;
//url
$header-url:"../images/header-bck.jpg";
//position
$closeheader-right:50px;
$closeheader-top:8px;