@import "variables","util","type","mixin";
#detail{
  @include conSize(970px,600px);
  margin-left: 140px;
  margin-top: 20px;
  .left{
    @include conSize(430px,600px);
    float: left;
    position: relative;
    .imgbox{
      @include conSize(430px,430px);
      position: relative;
      span{
        position: absolute;
      }
    }
    span{
      position: absolute;
      display: none;
      @include conSize(100px,100px);
      background-color: #e0070e;
      @include conOpacity(0.3);
      top:0;
      left:0;
    }
  }
  ul{
    margin-top: 20px;
    @include conSize(430px,80px);
    li{
      float: left;
      margin-right: 15px;
      border: 1px solid #ffffff;
      list-style: none;
    }
    .current{
      border: 1px solid red;
    }
    img{
      @include conSize(80px,80px);
    }

  }
  .bigImg{
    z-index: 10;
    @include conSize(430px,430px);
    display: none;
    overflow: hidden;
    img{
      position:absolute;
      @include conSize(1849px,1849px);
    }
    border: 2px solid #ccc;
    position:absolute;
    left:450px;
    top:0;
  }
  .right{
    @include  conSize(460px,600px);
    @include conFloatLeft(50px,0);
    h3{
      line-height: 24px;
    }
    h4{
      color: #ff243d;
      font-weight: 500;
    }
    .price{
      @include  conSize(460px,120px,#eeeeee);
      margin-top: 50px;
    }
    .price p{
      @include  conSize(80px,40px);
      background: none;
      line-height: 40px;
      text-indent: 1.5em;
      float: left;
    }
    .price span{
      display: inline-block;
      @include conSize(300px,40px);

      background: none;
      line-height: 40px;
    }
    .price .p_cuxiao{
      background: none;
      font: 900 28px/40px "宋体";
      color:#c40000;
    }
    .price .yunfei{
      background: none;
      font: 500 16px/40px "宋体";
      color:#b5621b;
    }
    .size{
      margin-top: 10px;
      text-indent: 1em;
      @include  conSize(460px,30px);
      line-height: 30px;
      color: #838383;
      input{
        @include  conSize(52px,30px);
        border: 1px solid #ccc;
      }
      .btn{
        border-color:#c40000;
      }
    }
    .count{
      position: relative;
      color: #838383;
      @include  conSize(460px,30px);
      margin-top: 10px;
      text-indent: 1em;
      input{
          border: 1px solid #cccccc;
        @include  conSize(40px,30px);
        margin-left: 48px;
      }
      button{
        @include conSize(16px,12px);
        position: absolute;
        border: 1px solid #cccccc;
      }
      .up{
        @include conSize(16px,12px);
        left:140px;
        background: url("../images/up.jpg") no-repeat;
      }
      .down{
        @include conSize(16px,14px);
        left:140px;
        bottom: 0;
        background: url("../images/countdown.jpg") no-repeat;
      }
      span{
        display: inline-block;
        margin-left: 30px;
      }
    }
    .btn_buy{
      margin-top: 30px;
      @include conSize(178px,38px,#ffeded);
      float: left;
      margin-left: 88px;
      border:1px solid #e0070e;
      color: #e0070e;
    }
    .btn_join{
      margin-top: 30px;
      @include conSize(178px,38px,#c40000);
      float: left;
      margin-left: 10px;
      border:1px solid #c40000;
      color: #ffffff;
      img{
        vertical-align: middle;
      }
      line-height:40px ;
    }
  }
  .qizhi{
    margin-top: 12px;
    text-indent: 1.5em;
    select{
      border: none;
    }
  }
  .priceUp{
    @include conSize(300px,30px);
    margin-top: 20px;
    img{
      display: block;
      float: left;
      vertical-align: middle;
    }
    p{
      float: left;
      line-height:30px ;
      border: 1px solid #ccc;
      border-left:none;
      padding: 0 5px;
    }
    .collectstar{
      background-color:#fcfcfc ;
    }
    span{
      color: red;
    }
  }
  .total{
    @include  conSize(460px,15px);
    color: #838383;
    padding: 10px 0;
    border-bottom: 1px dashed #cccccc;
    border-top: 1px dashed #cccccc;
    li{
      width: 137px;
      float: left;
      text-align: center;
      span{
        color: #c40000;
      }
      border-right:1px solid #cccccc;
      .span_jf{
        color: #03e0a2;
      }
    }
    .last_li{
      border:none
    }
  }
}
#meal{
  @include conSize(970px,270px);
  margin-left: 140px;
  margin-top: 20px;
  border : 1px solid #cccccc;
  border-top:none;
  .choose{
    @include conSize(88px,37px);
    float: left;
    line-height: 37px;
    text-align: center;
    font-size: 14px;
    border-top:1px solid #cccccc;
    color: #404040;
  }
  .selected{
    border-top:2px solid #c40000;
    color: #c40000;
  }
  .behind{
    float: left;
    @include conSize(794px,37px);
    border-top: 1px solid #cccccc ;
  }
  .combo{
    float: left;
    @include conSize(930px,147px);
    @include conFloatLeft(40px,30px);
    display: none;
    img{
      display: block;
      float: left;
    }

    .plus{
      line-height: 147px;
      display: inline-block;
      @include conSize(40px,147px);
      float: left;
      text-align: center;
    }
    .buy{
      @include conSize(240px,147px);
      float: left;
      margin-left: 380px;
    }
    .mealprice{
      color:#c40000;
    }
    .mealprice span{
      font: 900 18px "宋体";
    }
    .save{
      @include conSize(104px,20px,#333);
      margin-left: 5px;
      color: #fffcfc;
      line-height: 20px;
      text-align: center;
    }
    .price{
      color:#404040;
      margin-top: 5px;
    }
    .btn_buy{
      margin-top: 1px;
      @include conSize(158px,38px,#ffeded);
      border:1px solid #e0070e;
      color: #e0070e;
      border-radius:3px;
    }
    .btn_join{
      margin-top: 10px;
      border-radius:3px;
      @include conSize(158px,38px,#c40000);
      border:1px solid #c40000;
      color: #ffffff;
      img{
        vertical-align: middle;
      }
      line-height:40px ;
    }
  }
  .show{
    display: block;
  }
}
//main
#main{
  @include conSize(970px,2888px);
  margin-left: 140px;
  overflow: hidden;
}
.mainleft {
  float: left;
  margin-top: 30px;
  @include conSize(188px,2888px);
  .brand{
    @include conSize(188px,188px);
    float: left;
    border: 1px solid #ccc;
    .title{
      @include conSize(188px,47px);
      border-bottom: 1px solid #ccc;
      line-height: 47px;
      text-indent: 2em;
    }
    table{
      margin-left: 15px;
      margin-top: 15px;
      td{
        @include conSize(50px,34px);
        text-align: center;
      }
    }
    .tr1{
      color: #c40000;
    }
    .stroll{
      @include conSize(70px,25px,#000);
      margin-left: 17px;
      margin-top: 15px;
      text-align: center;
      line-height: 25px;
      color: #fff;
      border: 1px solid #000;
    }
    .collect{
      @include conSize(70px,25px,#f5f5f5);
      text-align: center;
      line-height: 25px;
      color: #000000;
      border: 1px solid #ccc;
    }
  }
  .shopsearch{
    @include conSize(188px,147px);
    float: left;
    clear: both;
    border:1px solid #ccc;
    margin-top: 15px;
    .title{
      height:20px;
      line-height: 20px;
      background-color: #004a7b;
      color:#fff;
      text-indent: 1em                                          ;
    }
    table{
      margin-left: 12px;
      margin-top: 10px;
      td{
        text-align: right;
        margin-bottom: 10px;
      }
    .interval{
      @include conSize(114px,20px);
    }
      input{
        @include conSize(50px,20px);
      }
    }
    .shopsearchbtn{
      @include conSize(57px,22px);
      background: url("../images/shopsearch.jpg") no-repeat;
      border: none;
      margin-left: 51px;
      margin-top: 10px;
    }
    p.kind{
      margin-left: 12px;
      color:#666666;
    }
  }
  .discount{
    @include conSize(188px,2321px);
    float: left;
  }
}
.mainright{
  float: left;
  @include conSize(768px,2888px);
  margin-left: 10px;
  margin-top : 30px;
  .shopdetail{
    @include conSize(768px,280px);

    float: left;
    p.title{
      background-color: #f5f5f5;
      height: 45px;
      border-bottom: 1px solid #ccc;
      color: #c40000;
      font: 400 18px/45px "宋体";
      text-indent: 1.5em;
    }
    p.name{
      height: 25px;
      margin-top:10px;
      line-height: 25px;
      text-indent: 27px;
      span{
        color: #3355aa;
      }
    }
    .care{
      @include conSize(75px,25px,#c40000);
      font-size: 14px;
      border-radius: 10px;
      border: none;
      color: #fff;
    }
    h6{
      margin-top: 18px;
      margin-left: 27px;
      color: #b29999;
    }
    table{
      margin-left: 27px;
      margin-top: 15px;
      color: #666;
      td{
        @include conSize(200px,25px);
      }
    }
  }
  .advertisement{
    @include conSize(768px,2313px);
    img{
      width:768px;
      height:2313px;
    }
  }
}



