@import "variables","util","type","mixin";
#main{
  @include conSize($container-width,480px);
  margin-top: 30px;
  button{
    margin-top: 10px;
    margin-left: 5px;
    border: none;
    @include conSize(170px,45px,#eee);
    text-align: center;
    line-height: 45px;
  }
  h3{
    margin-top: 10px;
    margin-left: 5px;
    border-bottom: 1px solid #e5e5e5;
    font: 18px/32px "宋体";
  }
  .left{
    @include conSize(460px,450px);
    @include conFloatLeft(140px,30px);

    h2{
      margin-left: 5px;
      color: #ff0066;
      line-height: 50px;
      margin-top: 10px;
    }

  }
  .right{
    position: relative;
    @include conSize(460px,450px);
    @include conFloatLeft(10px,30px);
    h3{
      margin-top:36px;
    }
    p{
      margin-left: 5px;
      margin-top: 5px;
      line-height: 30px;
      color: #333333;
    }
    .note{
      margin-top: 10px;
      font-weight: bold;
      color: #000000;
    }
    span{
      color: #ff0066;
    }
    button{
      display: block;
      margin-left: 0px;
      margin-top: 15px ;
    }
    input{
      @include conSize(260px,35px);
      line-height: 33px;
    }
    .forget{
      width: 70px;
      position: absolute;
      right:1px;
      bottom: 100px;
      line-height: 24px;
    }
  }
}
#bounced{
  text-align: center;
  z-index: 100;
  @include conSize(458px,458px);
  position: absolute;
  left: 50%;
  margin-left: -229px;
  top: 50%;
  margin-top: -229px;
  h1{
    margin-top: 10px;
    color: #ff0066;
    line-height: 45px;
  }
  h2{
    color: #333333;
    line-height: 45px;
  }
  .memebox{
    display: block;
    margin-left: 175px;
    margin-top: 10px;
  }
  p{
    color: #666666;
    line-height: 37px;
  }
  input{
    @include conSize(370px,36px);
    border: 1px solid #000000;
    border-radius: 6px;
    text-indent: 2em;
    line-height: 36px;
    margin-top: 10px;
  }
  button{
    border: none;
    @include conSize(370px,36px);
    background: #000000 url("../images/hook.jpg") no-repeat;
    background-position:125px 7px;
    color: #ffffff;
    line-height: 36px;
    margin-top: 10px;
  }
  .close{
    position: absolute;
    right: -15px;
    top:-15px
  }
}
