@import "variables","util","type","mixin";
#main{
  @include conSize($container-width,480px);
  margin-top: 30px;
  button{
    margin-top: 10px;
    margin-left: 5px;
    border: none;
    @include conSize(170px,45px,#eee);
    text-align: center;
    line-height: 45px;
  }
  h3{
    margin-top: 10px;
    margin-left: 5px;
    border-bottom: 1px solid #e5e5e5;
    font: 18px/32px "宋体";
  }
  .left{
    @include conSize(460px,450px);
    @include conFloatLeft(140px,30px);

    h2{
      margin-left: 5px;
      color: #ff0066;
      line-height: 50px;
      margin-top: 10px;
    }

  }
  .right{
    position: relative;
    @include conSize(460px,450px);
    @include conFloatLeft(10px,30px);
    h3{
      margin-top:36px;
    }
    p{
      margin-left: 5px;
      margin-top: 5px;
      line-height: 30px;
      color: #333333;
    }
    .note{
      margin-top: 10px;
      font-weight: bold;
      color: #000000;
    }
    span{
      color: #ff0066;
    }
    button{
      display: block;
      margin-left: 0px;
      margin-top: 15px ;
    }
    input{
      @include conSize(260px,35px);
      line-height: 33px;
    }
    .forget{
      width: 70px;
      position: absolute;
      right:1px;
      bottom: 100px;
      line-height: 24px;
    }
  }
}
